/* Grid for about page */ 

body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #fcf7f5; 
    border: 1px solid transparent;
    display: grid;
    grid-template-columns: 50% 50%;
    max-height: auto;
    grid-template-rows: 60px auto auto auto auto;
    grid-template-areas: "header header"
                         "main main"
                         "cta cta"
                         "wave wave"
                         "footer footer"
    ;

}
